@model SocialHub.Models.User

@{
    ViewBag.Title = "ForgetPassword";
}


    <meta charset="UTF-8">




  
 @Scripts.Render("~/bundles/jquery")
    <script>
  
        

       


        $(document).ready(function () {

            $('#searchyolo').hide();

            $('#UserName').change(function () {
                var userName = $('#UserName').val();

                if (userName != null)
                {

                    if (userName.toUpperCase() == "ADMINISTRATOR")
                    {
                        $('#msg').text("You are not Allowed to do this Operation...");
                    }
                    else
                    {

                        $('#msg').removeAttr("style");
                        $('#msg').text("Please Wait...  Checking...");

                        $.getJSON("/Home/CheckUserQuestion?UserName=" + userName, function (data) {

                            $('#msg').attr("style", "color:red");

                            if (data != null) {
                                $('#SecretAnswer').attr("placeholder", data);
                                $('#show').removeAttr("disabled");
                                $('#SecretAnswer').removeAttr("disabled");
                                $('#msg').text("");
                            }
                            else {
                                $('#SecretAnswer').attr("placeholder", "Please Wait...");
                                $('#show').attr("disabled", "disabled");
                                $('#SecretAnswer').attr("disabled", "disabled");
                                $('#msg').text("User Name doesn't Exist!");

                            }
                        });

                    }


                }

            });




        });





 </script>
    <link rel="stylesheet" href="~/Content/boot.min.css" >

        <link rel="stylesheet" href="~/Content/loginCss/style.css">

    
  <body>

      <div class="wrapper">



              
     
      @using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post, new { @class = "form-signin" }))     
      { 
    
            <h1 class="form-signin-heading">Forget Password!</h1>

        
       
       @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "User Name", autofocus = "" }) 
          <div style="color:red">
       @Html.ValidationMessageFor(model => model.UserName)
              </div>
           <label id="msg" ></label>
       <br />
          
          
      
        @Html.TextBoxFor(model => model.SecretAnswer, new { @class = "form-control",disabled="true", placeholder = "Please Wait...", autofocus = "" }) 
       <div style="color:red">
           @Html.ValidationMessageFor(model => model.SecretAnswer)
           </div>
            <br />
          

      <button class="btn btn-lg btn-primary btn-block" disabled id="show" >Show Password</button>   <br/>
      
      
      }



    <form class="form-signin">


       @{
           if(ViewBag.messege!=null)
           {
               if(ViewBag.messege=="WrongAnswer")
               {
                   <label style="color:red">You Entered a Wrong Answer!</label>
               }
               else if (ViewBag.messege == "WrongUserName")
               {
                  <label style="color:red">User Name Does Not Exist!</label>
               }
               else
               {
                  <label >Password   : <i>  @ViewBag.messege </i></label>
               }
           }
        }

        </form>





  </div>
    
    
    
    
    
  </body>

